.navbar{ 
    display:flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 999;
    left: 0;
    right: 0;
    height: 70px;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;
}
.nav__black{
    background-color: #141414;
}
.nav__logo{
    object-fit: contain;
    width: 90px;
    height: 30px;
    position: fixed;
    left: 20px;
}
.nav__avatar{
    width: 30px;
    object-fit: contain;
    position: fixed;
    right: 20px;
    height: 35px;

}